<form [formGroup]="form">
  <mat-form-field>
    <mat-label>Height</mat-label>
    <input matInput formControlName="height" type="number" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Width</mat-label>
    <input matInput formControlName="width" type="number" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Cell Size (px)</mat-label>
    <input matInput formControlName="cellSize" type="number" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Interval time (ms)</mat-label>
    <input matInput formControlName="interval" type="number" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Cell Alive Color</mat-label>
    <input matInput formControlName="cellAliveColor" type="color" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Cell Dead Color</mat-label>
    <input matInput formControlName="cellDeadColor" type="color" />
  </mat-form-field>
</form>

<h1>Field</h1>

<div class="field" #field>
  <span
    *ngFor="
      let cell of (field$ | async)!.status;
      let i = index;
      trackBy: trackByFieldFn
    "
    class="cell"
    [class.alive]="cell"
    (click)="setStatus$.next({ index: i, status: !cell })"
  ></span>
</div>

<button
  mat-fab
  (click)="play$.next(false)"
  *ngIf="(play$ | async) === true; else playButton"
>
  <mat-icon>pause</mat-icon>
</button>
<ng-template #playButton>
  <button mat-fab (click)="play$.next(true)">
    <mat-icon>play_arrow</mat-icon>
  </button>
</ng-template>
